$primary: #092E6E;
$text: #6F6F6F;

@font-face {
  font-family: gothamBlack;
  src: url("../fonts/gotham/Gotham-Black.otf");
}
@font-face {
  font-family: gothamBold;
  src: url("../fonts/gotham/Gotham-Bold.otf");
}
@font-face {
  font-family: gothamMedium;
  src: url("../fonts/gotham/Gotham-Medium.otf");
}
@font-face {
  font-family: gothamLight;
  src: url("../fonts/gotham/Gotham-Light.otf");
}

body,
html {
	padding: 0;
	margin: 0;
	font-family: "gothamLight", "arial", sans-serif;
	&.lock {
		overflow: hidden;
	}
}
html {
	background: black;
	min-height: 100vh;
}
body {
	background: white;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999;
	background: black;
	opacity: 1;
	transition: all 1s ease-in-out;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&.show {
		opacity: 0;
		pointer-events: none;
		transition: all 1s ease-in-out;
	}
	article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: darken(white, 70%);
		&:before {
			content: "";
		  animation: 1.5s linear infinite spinner;
		  animation-play-state: inherit;
		  border: solid 5px $primary;
		  border-bottom-color: white;
		  border-radius: 50%;
		  height: 40px;
		  width: 40px;
		  margin: 0 0 20px;
		  padding: 0;
		  will-change: transform;
		}
	}
}
h1,h2,h3,h4,h5,h6 {
	color: $primary;
	font-family: "gothamBold", "arial", sans-serif;
}
p {
	color: $text;
	font-size: 0.8rem;
	line-height: 1.2rem;
}
button,
a {
	font-family: "gothamLight", "arial", sans-serif;
	&:hover {
		cursor: pointer;
	}
	&:focus,
	&:active {
		outline: none;
		border: none;
		box-shadow: none;
	}
}
header {
	background: rgba(9, 46, 110, 1);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
	svg {
		fill: white;
		max-height: 50px;
		&.logo {
			width: 150px;
			height: auto;
			&:hover {
				cursor: pointer;
			}
		}
		&.icon {
			width: 30px;
			height: auto;
		}
	}
	.bar {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		position: relative;
		padding: 0 20px;
		.left {
			flex: 0 0 50%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			padding: 10px 0;
			background: rgba(9, 46, 110, 1);
			z-index: 998;
		}
		.right {
			flex: 0 0 50%;
			display: flex;
			justify-content: flex-end;
			position: relative;
			padding: 10px 0;
			background: rgba(9, 46, 110, 1);
			z-index: 998;
			.icon {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: nowrap;
				background: url('../img/dreamworks_icon.svg') no-repeat scroll center / contain;
				height: 30px;
				width: 100px;
				margin-right: 20px;
			}
			nav {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				height: 30px;
				&:hover {
					cursor: pointer;
				}
				span {
					width: 30px;
					height: 2px;
					background: white;
					margin: 5px 0;
					transition: all 0.5s ease-in-out;
				}
				&.show {
					span {
						transition: all 0.5s ease-in-out;
						&:first-child {
							transform: translate(0,6px) rotate(-45deg);
						}
						&:last-child {
							transform: translate(0,-6px) rotate(45deg);
						}
					}
				}
			}
		}
		.navMenu {
			position: absolute;
			z-index: 997;
			top: 50px;
			right: 0;
			left: 0;
			background: rgba(9,46,110, 0.5);
			backdrop-filter: blur(4px);
			list-style: none;
			margin: 0;
			padding: 0 0 10px;
			transform: translate(0,-100%);
			transition: all 0.5s ease-in-out;
			&.show {
				transform: translate(0,0);
				transition: all 0.5s ease-in-out;
			}
			li {
				text-align: left;
				color: white;
				font-family: gothamBlack;
				font-size: 0.8rem;
				line-height: 28px;
				padding: 0 22px;
				text-transform: uppercase;
				&:hover {
					background: rgba(9,46,110, 1);
					cursor: pointer;
				}
			}
		}
	}
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	font-family: gothamMedium;
	a,
	button,
	span {
		margin: 20px 0;
		text-transform: uppercase;
		font-size: 0.5rem;
		letter-spacing: 0.5px;
		color: $primary;
		text-align: center;
		font-family: gothamMedium;
		dsiplay: block;
	}
	a,
	button {
		text-decoration: none;
		border: none;
		background: none;
		font-weight: bolder;
		font-size: 0.8rem;
		letter-spacing: 1px;
		&.disabled {
			color: #6F6F6F;
			cursor: not-allowed;
				pointer-events: all !important;
		}
		&:hover {
			color: #6F6F6F;
			transition: all 0.3s ease-in-out;
		}
	}
}
#pageWrap {
	#homePage {
		overflow-x: scroll;
	}
	#innerPageTemplate {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-x: scroll;
		padding: 50px 0 0;
		background: white;
		transform: translate(0, -120vh);
		transition: all 0.3s ease-in-out;
		cursor: auto;
	}
	&.inner {
		#innerPageTemplate {
			transform: translate(0,0);
			transition: all 0.3s ease-in-out;
		}
	}
}
.mainBanner {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	background: black;
	position: relative;
	background-size: cover;
	background-position: center;
	video {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		&:hover {
			cursor: pointer;
		}
	}
	&:before {
		content: "";
		background: url('/assets/img/audio-on.png') no-repeat scroll center / contain;
		width: 50px;
		height: 25px;
		display: block;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 3;
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}
	&.sound {
		&:before {
			background: url('/assets/img/audio-off.png') no-repeat scroll center / contain;
		}
	}
	&:hover {
		&:before {
			opacity: 0.8;
			transition: all 0.2s ease-in-out;
		}
	}
}
#projectListing {
	margin: 10px auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	box-sizing: border-box;
	.project {
		width: 50%;
		padding: 5px;
		box-sizing: border-box;
		article {
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $primary;
				opacity: 0;
				transition: all 0.3s ease-in-out;
			}
			&:hover {
				cursor: pointer;
				&:before {
					opacity: 0.6;
					transition: all 0.3s ease-in-out;
				}
				.logo {
					opacity: 1;
					transform: translate(-50%,-50%) scale(1);
					transition: all 0.5s ease-in-out;
				}
				.poster {
					filter: blur(4px);
					transition: all 0.3s ease-in-out;
				}
			}
			.logo {
				width: 80%;
				position: absolute;
				z-index: 3;
				top: 50%;
				left: 50%;
				opacity: 0;
				transform: translate(-50%,-50%) scale(0.9);
				transition: all 0.3s ease-in-out;
			}
			.poster {
				margin-bottom: -5px;
				width: 100%;
				position: relative;
				z-index: 1;
				filter: blur(0);
				transition: all 0.3s ease-in-out;
			}
		}
		// placeholder
		&[data-id="5"] {
			article {
				&:hover {
					cursor: auto;
				}
			}
		}
	}
}
.wrap {
	width: 100%;
	box-sizing: border-box;
}
#innerModal {
	#videoRatioWrap {
		height: 0;
  		width: 100%;
		padding-top: 56.25%;
		position: relative;
		transform: scale(1);
		iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
.play {
	background: no-repeat scroll center / contain rgba(0,0,0,0.3);
	background-size: 40%;
	background-position: 60% 50%;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 3px solid white;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 1;
	transform: translate(-50%,-50%) scale(1);
	transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
	header {
		svg {
			&.logo {
				width: 200px;
			}
		}
		.bar {
			article {
				span {
					font-size: 1rem;
					letter-spacing: 5px;
				}
			}
			.navMenu {
				left: auto;
				padding: 20px 0;
			}
		}
	}
	.wrap,
	#projectListing {
		margin: 20px auto;
		padding: 0 20px;
		.project {
			padding: 10px;
			width: 33.3333333%;
		}
	}
	footer {
		flex-direction: row;
		margin-bottom: 20px;
		a,
		button,
		span {
			margin: 0 20px;
			font-size: 0.6rem;
			transition: all 0.3s ease-in-out;
		}
	}
	#innerModal {
		#videoRatioWrap {
			transform: scale(0.7);
		}
	}
}
@media (min-width: 812px) {
	.mainBanner {
		.play {
			display: none;
		}
	}
}
@media (min-width: 991px) {
	header {
		.bar {
			width: 900px;
		}
	}
	#projectListing,
	.wrap {
		width: 800px;
	}
}
@media (min-width: 1024px) {
	header {
		.bar {
			width: 991px;
		}
	}
	#projectListing,
	.wrap {
		width: 991px;
		.project {
			width: 25%;
		}
	}
}
@media (min-width: 1200px) {
	header {
		.bar {
			width: 1200px;
		}
	}
	#projectListing,
	.wrap {
		width: 1024px;
	}
}
@media (min-width: 1200px) {
	#projectListing,
	.wrap {
		width: 1200px;
	}
}